@import "tailwindcss";

body {
  @apply bg-slate-900 text-slate-100;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%), 
    radial-gradient(at 100% 0%, hsla(339,49%,30%,1) 0, transparent 50%);
  background-attachment: fixed;
  min-height: 100vh;
}
/* --- HIDE SCROLLBAR GLOBALLY --- */

/* Chrome, Safari and Opera ke liye */
*::-webkit-scrollbar {
  display: none;
}

/* Firefox, IE and Edge ke liye */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}